# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]

# User data
account_statements/*
data/*
export/*
data.csv

# Development folder
dev/

# IDE
.vscode/

# Python virtual environment
*py*env*/

# OS files
.DS_Store

# Notebooks
*.ipynb

!.gitkeep

tmp.log
